<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "pl.followme"
        version     = "1.0.0" >

    <name>Follow Me</name>
    <description>Aplikacja do udostępniania swojej lokalizacji wybranym użytkownikom.</description>
    <author href="asd" email="szymon.nn@gmail.com">
		Szymon Nitecki i Roksana Butryn
	</author>
	<platform name="android" />
		<icon src="icon.png" />
	<splash src="splash.png" />
	
	<plugin name="cordova-plugin-device" spec="~1.1.4" />
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />
	<plugin name="https://github.com/szymonnn/PGGoogleMaps1.3.9.git"/>
	<plugin name="cordova-plugin-geolocation" spec="1.0.0"/>
	<plugin name="cordova-plugin-whitelist"/>
	<plugin name="cordova-plugin-splashscreen"/>
	<access origin="*"/>
</widget>