html
body
#map-page {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map-content, #map-page {
  padding:0px;
  margin: 0px;
}
#map {
    height: 100%;
      padding:-16px;
  margin: 0px;
}

body {
	padding: 0px;
}